<div class="card">
  <h2 class="card-header">Binding de propiedad</h2>
  <div class="card-body">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text">Seleccione una imagen</label>
      </div>
      <select class="custom-select" id="selectImagen" (change)="imagenURL= $event.target.value">
        <option value="assets/img/javascript.png">
          Java Script
        </option>
        <option value="assets/img/angular.png">
          Angular
        </option>
        <option value="assets/img/nodejs.png">
          Node.js
        </option>
      </select>
    </div>
    <br>
    <div align="center">
      <img [src]="imagenURL" width="15%"/>
    </div>
  </div>
</div>
